body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1, h3 {
  text-align: center;
}

h1 {
  color: #800000;
}

.table-container {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  border: 1px solid #ddd;
  padding: 4px;
  text-align: left;
  font-size: 11px;
  word-wrap: break-word;
}

th {
  background-color: #4CAF50;
  color: white;
}

td {
  background-color: #fff;
}

.pagination {
  text-align: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 2px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}


#pdf-preview {
  width: 100%;
  height: 500px;
  border: 1px solid #ddd;
  margin-top: 20px;
}

#generate-pdf-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

#generate-pdf-button:hover {
  background-color: #45a049;
}

#loading-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  z-index: 1000;
}
